<h1 align="center">Basics of python</h1>

# Table of Contents

### 1. Introduction

### 2. Data Types

####  2.1 Variables

#### 2.2 Numbers

####    2.3 Strings

#### 2.4 Lists

####    2.5 Dictionaries

#### 2.6 Tuples

####    2.7 Sets

### 3. Comparison Operators

### 4. If-Else Statements

### 5. For & While Loop

### 6. Functions

### 7. Lambda Functions

####    7.1 Map()

#### 7.2 filter()

### 8. File I/O

### 9. Pandas Library Introduction

### 10. Series

#### 10.1 From ndarray

#### 10.2 From dict

#### 10.3 From Scalar value

#### 10.4 Series is ndarray-like

#### 10.5 Series is dict-like

#### 10.6 Vectorized operations and label alignment with Series

#### 10.7 Name Attribute

### 11. Data Frames

#### 11.1 From dict of Series or dicts

#### 11.2 From dict of ndarrays / lists

#### 11.3 From a list of dicts

#### 11.4 From a dict of tuples

#### 11.5 Alternate Constructors

# 1. Introduction
-  Python has gathered alot of appreciation as a choice of language for Data Analytics.
-  Open Source and Free to install.
-  Awesome online community.
-  Very easy to learn.
-  It can become common language for data science.
-  It can also become a common language for production of web based analytics products.
-  As it is interpreted programming language so it is easier to implement.
-  Compilation is not required, execution process can be done directly.

# 2. Data Types
Following data types are used in Python to store and access the data. Those are explained below.

# 2.1 Variable

## Definition: 
   Variables are data values that can change when the user is asked a question, for example, their age. Variables may change during program execution.

### Why we use Variables:
   We use variables when we have to store some value and perform operation on it afterward or change on runtime.
### When we use Variables:
   When we want to change the value and run-time or take some value from the user.
### Where we use Variables:
   Variable can be used at different places in a computer program where we want to change the value, take it from user or pass to some other variable or function. There are different types of variable in python like integer, string, char, long, float.
### Applications:
- Setting a Global Constant for Use Anywhere in BuildMaster.
- Pulling Code from Different Branches.
- Optional Behavior During a Particular Execution. 
- Setting the Build Configuration for Your Project for Each Build. 
- Changing a Path for a Particular Server in a Server Group.

## Task
 - Write a Program which initializes three variable with integer, float and string data type and display all variable on output screen.
     
## Code

In [75]:
Increment = 27   # integer type variable
print("Integer: ",Increment)

Average = 4.8  # float type variable
print("Float:   ",Average)

Class = "MSCS"  # string type variable
print("String:  ",Class)

Integer:  27
Float:    4.8
String:   MSCS

# Examples - Variables:

In [11]:
counter = 1000.00 #float type variable
miles = 1000 #integer type variable
name = "Anam" #string type variable
#print all values
print (counter)
print (miles)
print (name)

1000.0
1000
Anam

In [7]:
Name="Anam"# String type
Age=23 #integer type
Education="Master in Computer Science"#string type
print(Name)
print(Age)
print(Education)

Anam
23
Master in Computer Science

In [9]:
Subject_Pass= True#bool type
Subject_Fail= False#bool type
print(Subject_Pass)
print(Subject_Fail)

True
False

In [1]:
char='Z'#char type
print(char)

Z

# 2.2 Numbers

### Definition:
Number data types store numeric values. They are immutable data types, means that changing the value of a number data type results in a newly allocated object. Number objects are created when you assign a value to them.

### Why we use Numbers:
We use numbers to perform mathematical operations.
### When we use Number
When we want to add, multiply, subtract, divide or other operation then we use numbers.
### Where we use Number
Numbers can be used where we have to deal with the mathematcal operation perform different kind or numerical operations.
### Applications:
Number type conversion in python are as follows:
- Type int(x) to convert x to a plain integer.
- Type long(x) to convert x to a long integer.
- Type float(x) to convert x to a floating-point number.
- Type complex(x) to convert x to a complex number with real part x and imaginary part zero

## Task
 - Write a Program to perform different operations with number type variables.
     
## Code

In [76]:
print("Number data type variables: ")

a = 5+7  # integer
print("Integer: ",a)

b = 68.5  # float
print("Float: ",b)

c = 4.5*3.6  # float
print("Float: ",c)

d = 7**2  # exponent
print("Exponent: ",d)

Number data type variables:
Integer:  12
Float:  68.5
Float:  16.2
Exponent:  49

# Examples- Numbers

In [8]:
11j#complex

11j

In [12]:
5+5#integer

10

In [4]:
2.4+4.5#float

6.9

In [7]:
3.2*1.2#float

3.84

In [17]:
6/3#integer

2.0

In [18]:
8*3#integer

24

In [20]:
5**2#exponent

25

In [22]:
7/4.0#float

1.75

In [3]:
11j*2.5#complex

27.5j

# 2.3 Strings

### Definition:
-  String data types are used to store words or combination of words having letters, numbers, special characters etc.
-  It can be stored by enclosing within single qoutes and double qoutes also.
-  Python doesn't support char data type. It will be as String of length one in Python.

### Why we use String:
We use string to store collection of characters.
### When we use String
When we want to store more then on character of collection of characters. e.g for long paragraphs, names.
### Where we use String
Strings can be used where we have to deal with long length string that are containing more than one character. strings can be compare and concatinate.
### Applications:
- In Python, string is an immutable sequence data type. 
- It is the sequence of Unicode characters wrapped inside single, double, or triple quotes. The followings are valid string literals in Python.
- A sequence is defined as an ordered collection of items. Hence, a string is an ordered collection of characters.

## Task
 - Write a Program to initialize some string variables and display all of these on output screen.
     
## Code

In [78]:
print("String Variables: ")

Class = 'MSCS'
print("  (i): ",Class)

Section = 'A'
print(" (ii): ",Section)

Objective = 'ALLAH KO PANA'
print("(iii): ",Passion)

String Variables:
  (i):  MSCS
 (ii):  A
(iii):  ALLAH KO PANA

# Examples - Strings

In [79]:
name = 'Anam'
university = "COMSATS"
print(name,university)

Anam COMSATS

In [27]:
Gender="Female"
Subject="Machine Learning"
print(Gender)
print(Subject)

Female
Machine Learning

In [28]:
Country_Name="Pakistan"
Religion="Muslim"
print(Country_Name)
print(Religion)

Pakistan
Muslim

In [29]:
fname="Anam"
lname="Khurshid" 
fullname=fname+lname
print(fullname)
print(fname+lname)

AnamKhurshid
AnamKhurshid

# Access values in String
- Python doesn't support Character data type. These are treated as Strings of length one.
- Square brackets are used to access substrings.
- We can access a specific character or range of characters from string.<br>
    It would be cleared by using following examples.

In [38]:
string1="Welcome to ATML"
print("string1[0]:",string1[0])
print("string1[0-5]:",string1[0:5])

string1[0]: W
string1[0-5]: Welco

In [35]:
name="Anam Khurshid"
print("Last element of string:", name[-1])

Last element of string: d

In [3]:
name="Anam Khurshid"
print("Third last element of string:", name[-3])

Third last element of string: h

In [42]:
country="Pakistan"
print("by escaping 1:",country[0:5:2])

by escaping 1: Pks

# Updating String

- Value of the string can be updated by assigning a new value to it. New value will be replaced with older.
- New value must be related (having same data type) to previous value of the string.
- '+' operator will be used for this purpose like as follows:

In [10]:
stringVariable = "Hello World"

stringVariable = stringVariable[:6] + "Python"
print("Updated string: ", stringVariable)

Updated string:  Hello Python

In [11]:
Name="Anam"
Name=Name+" Khurshid"
print("Updated Name:",Name)

Updated Name: Anam Khurshid

In [14]:
uni="Comsats"
uni=uni[0:6]+" University Lahore"
print("Updated String:",uni)

Updated String: Comsat University Lahore

# Delete String

- To delete the value of the string, by using replace(),Slice and concatenation.<br>
See following example:

In [31]:
#Removal of Character from a String using replace() Method

string1="hello Python"
print(string1)
rep_string1=string1.replace('l','')
print(rep_string1)

hello Python
heo Python

In [32]:
string1="hello Python"
print(string1)
rep_string1=string1.replace('l','d')
print(rep_string1)

hello Python
heddo Python

In [33]:
#Removal of Character from a String using Slicing and Concatenation

string1="hello Python"
print(string1)
rep_string1=string1[:2] + string1[3:]
print(rep_string1)

hello Python
helo Python

In [34]:
string1="hello Python"
print(string1)
rep_string1=string1[:2] + string1[5:]
print(rep_string1)

hello Python
he Python

# String Special Operators:
- '+' is used to concatinate strings.
- '*' is used to multiply string.

In [18]:
variable='Hello'
print(variable+"Python")

HelloPython

In [19]:
print(variable+'world')

Helloworld

In [20]:
print(variable+' Anam')

Hello Anam

In [21]:
print(variable*3)

HelloHelloHello

In [23]:
print('Anam'*2)

AnamAnam

In [24]:
print('Khurshid'*2)

KhurshidKhurshid

### [] is used to take the character of string at given index.

In [25]:
print(variable[1])

e

In [27]:
print(variable[1:4])

ell

In [28]:
print(variable[-1])# gives the last character of string

o

### "In" return true or to access the value in string

In [30]:
print('H' in variable)

True

In [31]:
print('a' in variable)

False

In [32]:
print('z' not in variable)

True

## String formatting operator:

In [35]:
print('My name is %s and age is %d'%('Anam',23))

My name is Anam and age is 23

In [38]:
print('My father name is %s and age is %d '%('Khurshid',56))

My father name is Khurshid and age is 56

In [41]:
print('My aunt weight is %d'%(48))

My aunt weight is 48

# 2.4 Lists

### Defintion:

- A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. 
- Each element or value that is inside of a list is called an item
-  It can be written as a list of comma-saperated values within square bracket.
-  Multiple data types can be stored in a list
-  individual element of a list can be changed
-  list indices stats from 0 just like arrays.

### Why we use Lists

We use list to store multiple data types.

### When we use Lists
When we want to store more then one different data type. 
### Where we use Lists
Strings can be used where we have to deal with the different data types and change them at run time.Data can be easily populate and edit in lists.

### Applications:

12 Real-world Applications of Python are:
- Web Development. 
- Game Development. 
- Scientific and Numeric Applications. 
- Artificial Intelligence and Machine Learning. 
- Software Development. 
- Enterprise-level/Business Applications. 
- Education programs and training courses. 
- Language Development.

## Task
 - Write a Program which initializes an Integer List with following numbers and prints them on the Output Screen.
                                            3, 10, 19, 22, 27, 5
                                             
## Code

In [81]:
Lst1 = [3, 10, 19, 22, 27, 5]
print("List Example 1 : ", Lst1)

List Example 1 :  [3, 10, 19, 22, 27, 5]

# Examples - Lists:

In [7]:
PNames=['Anam','Maryam','Maham',1,2,3]
age=[23,24,26]
print(PNames)

['Anam', 'Maryam', 'Maham', 1, 2, 3]

# Accessing values from lists:

In [8]:
print(PNames[2])

Maham

In [9]:
print(PNames[-1])

3

In [45]:
print(age[0:2])

[23, 24]

# Updating Lists
- list can be updated by append() function.

In [10]:
PNames[4]='Manha'
print(PNames)

['Anam', 'Maryam', 'Maham', 1, 'Manha', 3]

In [11]:
PNames.append('Amal')
PNames

['Anam', 'Maryam', 'Maham', 1, 'Manha', 3, 'Amal']

In [12]:
PNames.append('Bisma')
print(PNames)
age.append(50)
age

['Anam', 'Maryam', 'Maham', 1, 'Manha', 3, 'Amal', 'Bisma']

[23, 24, 26, 50]

# Delete list element
- del is used to remove when you know the index of value
- remove() is used to remove when you dont know the address

In [15]:
print(PNames)
del(PNames[3])

['Anam', 'Maryam', 'Maham', 1, 'Manha', 3, 'Bisma']

In [16]:
print(PNames)

['Anam', 'Maryam', 'Maham', 'Manha', 3, 'Bisma']

In [17]:
PNames.remove('Maham')
PNames

['Anam', 'Maryam', 'Manha', 3, 'Bisma']

In [35]:
print('before deleting element from list of age :',age)
del age[2]
print('after deleting element from list of age:', age)

before deleting element from list of age : [23, 24, 26, 50]
after deleting element from list of age: [23, 24, 50]

In [36]:
age.remove(50)
print(age)

[23, 24]

In [37]:
age.pop()#pop will pop the last element
print(age)

[23]

# 2.5 Dictionaries

### Definition:
- The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets.
-  It is same as array of objects having key and values in PHP.
-  Each key is seperated by colon (:) from its value.
-  Each item is seperated with comma (,).
-  Empty dictionary can be written as {}.
-  Keys are unique in dictionary but values may not.
-  The values of the dictionary can be of any data type.
-  The keys must be of an immutable data type such as strings, numbers, or tuples.

### Why we use Lists

We use  Dictionaries when values are required with their keys.

### When we use Lists

When we want to store more than on type of data with thier keys.
### Where we use Lists
Dictionaries can be used where we have to deal with the different data types and change them at run time. data can access with thier keys

### Applications:

- Data storage:
so instead of remembering that a person’s name is at list index 0, and the address is at list index 1 - we can create a dictionary with keys of ‘name’ and ‘address’.
- literally maps : Say you are building a map of objects on a game field - so each object has an (x,y) co-ordinate. Instead of a big list which is mostly empty showing each of the objects - you have a dictionary with the key being a tuple of the (x,y) co-ordinate, and the value being the object at that location.
- You can use a dictionary as a jump table to emulate a switch type statement.
- You can use a dictionary to easily count the content of a list.
- You can use a dictionary to build indexes of content.

## Task:

 - Write a Program which initializes two dictionariesan "One for Integer type values and second for mixed values) and display the dictionaries on output screen.
                                             
## Code

In [83]:
# Creating a Dictionary  
# with Integer Keys 
Dict = {1: 'Allah', 2: 'is', 3: 'Great'} 
print("\nDictionary with the use of Integer Keys: ") 
print(Dict) 
  
# Creating a Dictionary  
# with Mixed keys 
Dict = {'Name': 'Anam', 1: [1, 2, 3, 4]} 
print("\nDictionary with the use of Mixed Keys: ") 
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'Allah', 2: 'is', 3: 'Great'}

Dictionary with the use of Mixed Keys:
{'Name': 'Anam', 1: [1, 2, 3, 4]}

# Examples of Dictionaries:

# Accessing value in Dictionaries
- square bracket are used to access the values.

In [39]:
dict1={'name':'Anam','age':23,"dept":"Computer Science", 'Class':'MSCS'}
print(dict1['name'])

Anam

In [40]:
print(dict1['age'])

23

In [42]:
dict2={1:'Anam',2:'Manha',3:'Zainab'}
print(dict2[3])

Zainab

# Updating  Dictionaries
- We can update already existing Values.
- We can also add new values.

In [44]:
dict2[4]='Maryam'
print(dict2)

{1: 'Anam', 2: 'Manha', 3: 'Zainab', 4: 'Maryam'}

In [45]:
dict1['Subject']='Machine Learning'

In [46]:
dict2[5]='Fatima'

In [47]:
print(dict1, "\n" , dict2)

{'name': 'Anam', 'age': 23, 'dept': 'Computer Science', 'Class': 'MSCS', 'Subject': 'Machine Learning'}
 {1: 'Anam', 2: 'Manha', 3: 'Zainab', 4: 'Maryam', 5: 'Fatima'}

# Deleting Dictionaries
- We can delete individual elements and can delete complete content of dictionary.
- del is used for individual element removal and clear() function is used to remove entire dictionary.

In [48]:
dict3={'name':'Anam','age':23,"dept":"Computer Science", 'Class':'MSCS'}
print(dict3)

del dict3['Class']
print(dict3)

{'name': 'Anam', 'age': 23, 'dept': 'Computer Science', 'Class': 'MSCS'}
{'name': 'Anam', 'age': 23, 'dept': 'Computer Science'}

In [49]:
del dict3['dept']
print(dict3)

{'name': 'Anam', 'age': 23}

In [50]:
dict3.clear()
print(dict3)

{}

In [51]:
dict4={1:'Anam',2:'Maham',3:'Maryam'}
del dict4[1]
print(dict4)

{2: 'Maham', 3: 'Maryam'}

In [52]:
dict4.clear()

In [53]:
print(dict4)

{}

# 2.6 Tuples
## Definition
 - A tuple is a collecion of unordered objects.
 - A tuple is immutable.
 - Just like lists tuples are also sequences.
 - Difference between tuples and lists that unlike lists tuple items cannot be changed once items are assigned to tuple.
 - Tuples use parentheses, whereas lists use square brackets.
 - Tuples items are seprated by commas in parenthesis.
 - Tuples are immutable data structure.
    
### Why we use Tuples
    we use  Tuples to store values of different data types .
### When we use Tuples
    when we want to store more than on type of data but it can not change on runtime.
### Where we use Tuples
     Tuples can be used where we have to deal with the different data types but values can not be changed.
     
## Applications:
There are many applications we are using in our daily life which are using tuples data structure. Following are some common applications.
 - Tuples are used for creating views for end users.
 - Best for applications where we need to group data together.
 - Useful records visualization.

## Examples - Tuples

## Task
 - Write a Python program to create the following two tuples with different data types and display on output screen.
                   (‘ATML’, ‘ Python’, ‘tutorial’)
                   (‘ATML’, 24, 78.362)
                                             
## Code

In [1]:
tup1 = ('ATML', 'Python', 'tutorial')
tup2 = ('ATML', 24, 78.362)
print ("Same data types: ",tup1)
print ("Different data types: ",tup2)

Same data types:  ('ATML', 'Python', 'tutorial')
Different data types:  ('ATML', 24, 78.362)

# Accessing value in Tuples
- square bracket are used to access the values.

In [2]:
tup=('Anam','Khurshid','Maryam','Usama',1,2,3)
print(tup)

('Anam', 'Khurshid', 'Maryam', 'Usama', 1, 2, 3)

In [3]:
tup2=(1,2,3,4,5,6)
print(tup2[-3])

4

In [4]:
tup3=(2.6,66,5.5,'Anam')
print(tup3[::-1])#print all in reverse order

('Anam', 5.5, 66, 2.6)

# 2.6.2 Updating tuples
 - Once you have assigned values to a tuple, you can't change the values.
 - As we already mentioned the tuples are unchangeable or immutable.
 - You can only change tuples by converting tuples into list and then convert back to the tuple after updation.

In [5]:
tup2=(1,2,3,4,5,6)
tup3=(2.6,66,5.5,'Anam')
#following action are not valid in case of tuple
# tup2[1]=100


#so create a new tuple
tup4=tup2+tup3
print(tup4)

(1, 2, 3, 4, 5, 6, 2.6, 66, 5.5, 'Anam')

In [6]:
tup5=tup4+tup
print(tup5)

(1, 2, 3, 4, 5, 6, 2.6, 66, 5.5, 'Anam', 'Anam', 'Khurshid', 'Maryam', 'Usama', 1, 2, 3)

In [7]:
tup6=tup+tup2
tup6

('Anam', 'Khurshid', 'Maryam', 'Usama', 1, 2, 3, 1, 2, 3, 4, 5, 6)

# Delete Tuple Elements
- Removing tuple element is not possible because they can not be updated
- del statment is used to remove entire tuple

In [8]:
tuple=(1,2,3,4,5,6)
print(tuple)
del tuple
print('after removing tuple')
print(tuple)

(1, 2, 3, 4, 5, 6)
after removing tuple
<class 'tuple'>

In [11]:
tuple7=(2.6,66,5.5,'Anam')
print(tuple7)
del(tuple7)   #del keyword can delete the tuple completely
print(tuple7) #this will raise an error because the tuple no longer exists

(2.6, 66, 5.5, 'Anam')

NameError: name 'tuple7' is not defined

# 2.7 Sets
## Definition
 - Sets data structure in python represents the notio of mathematical sets.
 - Set contains items which are mutable, unordered and unindexed.
 - Curly brackets are used to write sets.
 - Items in sets are unique and the order of items is unknown.
 - Python sets are iterable with the help of for loop.
 - Items in sets can't accessed through indexes as we do in lists.
 - Sets are highly optimized in searching an item in the sets as compared with list data structure.
 - Sets searching based on a data structure known as a 'hash table'.
### Why we use Sets
    we use  Sets to perform mathamatical functions.
### When we use Sets
    when we want to store perform mathematical set operations like union, intersection, symmetric difference etc.
### Where we use Sets
     Sets can be used where we have to deal the mathamatical operations on data like union, intersection, symmetric difference
    ## Applications
There are many applications we are using in our daily life which are using sets data structure. Following are some common applications.
 - Perform standard math operations like union, intersection, difference and symmetric difference.
 - Provide uniqueness in list data structure by removing duplicate items.
 - Store primary keys or other fields from database tables which required uniqueness.

## Task
 - Write a program to create the following three sets and display on output screen.
                 {"Mon","Tue","Wed","Thu","Fri","Sat","Sun"}
                 {"Jan","Feb","Mar"}
                 {27,24,17}
                                             
## Code

In [14]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={27,24,17}
print("Days: ",Days)
print("Months: ",Months)
print("Dates: ",Dates)

Days:  {'Thu', 'Wed', 'Sat', 'Fri', 'Mon', 'Tue', 'Sun'}
Months:  {'Mar', 'Jan', 'Feb'}
Dates:  {24, 17, 27}

## Examples - Sets

In [15]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("Set A: ",A)
print("Set B: ",B)
# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print("Union of A and B: ",A | B)

Set A:  {1, 2, 3, 4, 5}
Set B:  {4, 5, 6, 7, 8}
Union of A and B:  {1, 2, 3, 4, 5, 6, 7, 8}

In [92]:
# Symmetric difference of two sets
# initialize A and B
A = {3, 4, 5, 6, 7}
B = {8, 9, 130, 90, 430}
print("Set A: ",A)
print("Set B: ",B)

# use symmetric_difference function on A
print("Symmetric_difference on A: ",A.symmetric_difference(B))

# use symmetric_difference function on B
print("Symmetric_difference on B: ",B.symmetric_difference(A))

Set A:  {3, 4, 5, 6, 7}
Set B:  {130, 8, 9, 430, 90}
Symmetric_difference on A:  {130, 3, 4, 5, 6, 7, 8, 9, 90, 430}
Symmetric_difference on B:  {130, 3, 4, 5, 6, 7, 8, 9, 90, 430}

In [93]:
set3={1,2,3,4}
set4={4,5,6,7}
set3.update(set4)
print(set3)

{1, 2, 3, 4, 5, 6, 7}

# 3 Comparison Operator
- These are used to compare values (string or numbers) and return true/false according to situation.

### Why we use Comparison Operator
    we use comparison operators to compare values.
### When we use Comparison Operator
    when we want to make comparison between two or more variables.
### where we use Comparison Operator
    Comparison Operator can be used where we compare variables with each other or other variables.
# Examples of Comparison Operator

In [16]:
2<6

True

In [17]:
'Anam'!='Khurshid'

True

In [18]:
(1==1)and(2==4)

False

In [19]:
a=5
b=10
c=10
a<b

True

In [20]:
a>b

False

In [21]:
c==10

True

In [22]:
c>b

False

In [23]:
(a<b)and(b==c)

True

In [24]:
(a<b)or(b==c)and(a>b)

True

In [25]:
(a<b)or(b==c)and(a>b)

True

# 4 If-else Statement
- If-Else statments are used to execute a block of code depending on conditions. If block if condition is true otherwise else block. See following example:

### Why we use If-else Statement
    we use If-else Statement is use to make decision.
### When we use If-else Statement
    when we want to make decision at some point then we use if-else or if or if-else if statement.
### Where we use If-else Statement
    If-else Statement can be used where we want to make decision at some point then we use if-else statment. examples will describe the usage of if-else statement.

## Task
 - Write a Program to take marks as input from the user and calculate grade using following grading policies.
                       A+ = marks >= 95 && marks <= 100
                       A  = marks >= 80 && marks < 95
                       B  = marks >= 70 && marks < 80
                       C  = marks >= 60 && marks < 70
                       F  = marks < 60
                       
## Code

In [27]:
# initialize marks
marks = int(input("Enter your marks: "))

if marks >= 95 and marks <= 100:
    print("You got A+ grade")
elif marks >= 80 and marks < 95:
    print("You got A grade")
elif marks >= 70 and marks < 80:
    print("You got B grade")
elif marks >= 60 and marks < 70:
    print("You got C grade")
elif marks < 60:
    print("Fail!")
else:
    print("Invalid marks, should be between 0 to 100...!")

Enter your marks: 84
You got A grade

# Examples - If-else Statement

In [28]:
a=10 
b=20
c=30
if 9%2:
    print("odd")
else:
    print("even")

odd

In [91]:
if a<b:
    print("b is greaater")
else:
    print('a is greater')

b is greaater

In [30]:
if (a>b and a>c):
    print('a is greator')
elif b>a and b>c:
    print('b is greator')
elif c>a and c>b:
    print('c is greator')

c is greator

# 5 For and While Loop
- Python has for and while loop for iteration, used when we want to perform a specific a task repeatedly.

### Why we use For and While Loop
    we use For and While Loop for iteration.
### When we use For and While Loop
    when we want to iterate some values. for loop is called counter control loop .
### Where we use For and While Loop
    For and While Loop can be used where we want iteration on some point. for loop is used where number of iterations are known in advance and while loop is used when not known in advance or to validate some condition.
# Examples of For and While Loop

In [32]:
#example of for loop

fact = 3
N = 5
for i in range (1,N+1):
    fact*=i
print (fact)

360

In [34]:
#example of while loop

a = 0
while a < 50:
    a = a+1
print(a)

50

In [35]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
multiplicands=[1,2,3,4,5]
product=2
for mul in multiplicands:
    product=product*mul
    
print(product)

240

In [38]:
i=0
while i<10:
    print(i,end=' ')
    i+=1

0 1 2 3 4 5 6 7 8 9

In [39]:
square=[n**5 for n in range(10)]
square

[0, 1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049]

# 6. Functions
## Definition
 - The block of code which only run when we call it, is known as function or method.
 - We can pass the data to a function, this term known as parameters.
 - A function may return a value or may not be.
 - Parameters to the function are using two methods, one is 'pass by value' and the second is 'pass by reference'.
 - In python we use 'def' keyword to create a function.
 - We can call a function by its name followed by required list of parameters.
 - We can pass as many arguments as we want, after the function name, inside the parenthesis, just separated by comma.
 ### Why we use Functions
    we use functions to perform specific task that is defined in the defination of function.
### When we use Functions
    when we want to perform specific task and want to make it resuable for the further use then we used function .
### where we use Functions
    Functions can be used where we don't want to write the same code again and again. funcions are reuseable and make code clear and clean we call call a fuction by simple on line code and it will perform its functionality.
    ## Applications
There are many applications we are using in our daily life which are using functions. Following are some common applications.
 - Functions are not specific to some applications.
 - Approximately all applications in modern age use functions to increase understanding and reuseability of code.
 - Android applications
 - Java applications
 - Web based applications

## Task
 - Write a program to take two numbers from the user as input and calculate sum of these numbers in a function named 'sum()'.
                                             
## Code

In [40]:
def sum(num1, num2): # num1 and num2 are called parameters
    print("Sum of two numbers: ",num1+num2)
    
if __name__=='__main__':
    inp1 = int(input("Enter first number: "))
    inp2 = int(input("Enter second number: "))
    sum(inp1, inp2) # here inp1 and inp2 are arguments

Enter first number: 24
Enter second number: 97
Sum of two numbers:  121

## Examples - Functions

In [42]:
# Function definition is here

def printme( str ):
#This prints a passed string into this function
    print (str)
    return;
# Now you can call printme function
printme("First call to user defined function!")

First call to user defined function!

In [45]:
def greet(who="ATML"):
    print("Hello",who)
greet()  
greet(who="Python")
greet("world")

Hello ATML
Hello Python
Hello world

In [47]:
def f(n):
    return n*3
x=15.8

In [48]:
print(x)
print(f)

15.8
<function f at 0x0000011852B32790>

In [50]:
print(
    type(x),
    type(f), sep='\n'
)

<class 'float'>
<class 'function'>

In [53]:
def mod_5(x):
    return x%5
print(
    "which is biggest?",
    max(166,98,14),
    max(166,98,14,key=mod_5),
    sep="\n",


)

which is biggest?
166
14

# 7. Lambda Functions
## Definition
 - We can write functions in python using 'def' keyword, define function headers, bodies and docstrings.
 - Fortunately Python also provide a quicker way to write your own functions, these are called lambda functions.
 - We said lambda because 'lambda' keyword used to define lambda functions.
 - We use lambda functions where function definition is simple enough that it could easily converted to lambda function.
 - Lambda functions in python may have many arguments but can have only one expression to solve.
 - Syntax of lambda function is "lambda arguments: expression"
### Why we use Lambda Functions
    we use lambda functions to write the function in one line
### When we use Lambda Functions
    when we want to perform specific task and define a function in one line then we use lambda function .
### Where we use Lambda Functions
    Lambda Functions can be used where a function defination is small and can be written in one line
## Applications
There are many applications we are using in our daily life which are using functions. Following are some common applications.
 - Functions are not specific to some applications.
 - Approximately all applications in modern age use functions to increase understanding and reuseability of code.
 - Android applications
 - Java applications
 - Web based applications

## Task
 - Write a program to declare a lambda function that adds 15 to the number passed in as an argument, and print the result.
                                             
## Code

In [57]:
x = lambda a : a + 15

num = 7 #number to pass to the lambda function 'x'
print("Number passed to function: ",num)
print("Result: ",x(num))

Number passed to function:  7
Result:  22

## Examples- Lambda Functions

In [58]:
#Normal function
def f (x):
    return x**6
print (f(3))

729

In [59]:
#Lambda Function
#lambda expressions
times3 = lambda var:var*7
times3(10)

70

In [60]:
mod_5= lambda x:x%8
print(mod_5(122))

2

In [61]:
#on the arguments
arg= lambda x:54+x
print(arg(2))

56

In [62]:
names=['Anam','Khurshid']
print('longest name is', max(names, key=lambda name:len(name)))

longest name is Khurshid

# 7.1 Map()
 - Map() function comes as built in function in python language.
 - Map() function used to call the specific funtion for each item of an iterable like lists, strings, tuples and dictionaries.
 - It return a list of reults equal to number of items in iterables.
 - Syntax ---> "map(specified_function, iterable)"

## Task
 - Write a Program to calculate square of each list item using map() function.
## Code

In [65]:
# it will calculate square
def square(x):
    return x*x

numbers_list = [8, 6, 4, 2]
sqrt_list = map(square, numbers_list)

print("Numbers List: ",numbers_list)
print("Square calculated: ", [item for item in sqrt_list])
# print("Square calculated: ")
# for i in sqrt_list:
#     print(i)

Numbers List:  [8, 6, 4, 2]
Square calculated:  [64, 36, 16, 4]

## Example - Maps

In [66]:
sentence = 'Be Happy,Keep Happy'

words = sentence.split()
print (words)
lengths = map(lambda word: len(word), words)
list(lengths)

['Be', 'Happy,Keep', 'Happy']

[2, 10, 5]

In [89]:
def square(x):
    return x*x
num=(6,7,8,9)
r=map(square,num)
print(r)
list(r)

<map object at 0x0000011852B2C760>

[36, 49, 64, 81]

In [90]:
c=map(lambda y:y*y*y, num)
list(c)

[216, 343, 512, 729]

# 7.2 Filter()
 - We use filter() method to construct an iterator from elements of an iterable for which a function returns true.
 - In simple words we can say that filter() method filters the given iterable with the help of a function that tests each element of iterable to be true or not.
 - Syntax -----> "filter(function, iterable)"

## Task
 - Write a Program to filter vowels from the following list of characters using filter() method of python.
               ['A', 'L', 'L', 'A', 'H', 'I', 'S','O', 'N', 'E']
             
## Code

In [68]:
# list of letters
letters =  ['A', 'L', 'L', 'A', 'H', 'I', 'S','O', 'N', 'E']

# function that filters vowels
def filterVowels(letter):
    vowels = ['A', 'E', 'I', 'O', 'U']

    if(letter in vowels):
        return True
    else:
        return False

filteredVowels = filter(filterVowels, letters)

print('The given vowels are: ', [vowel for vowel in letters])
print('The filtered vowels are: ', [vowel for vowel in filteredVowels])

The given vowels are:  ['A', 'L', 'L', 'A', 'H', 'I', 'S', 'O', 'N', 'E']
The filtered vowels are:  ['A', 'A', 'I', 'O', 'E']

# Examples - Filters

In [72]:
names=['Amal', 'Anam','Manha','Zainab','Hina']
fil=filter(lambda s:s.startswith('M'),names)
list(fil)

['Manha']

In [73]:
fil2=filter(lambda f:f.startswith('A'),names)
list(fil2)

['Amal', 'Anam']

In [84]:
fibnocci=[0,1,1,2,3,5,8,13,21,34]
r1=filter(lambda x:x%2,fibnocci)
print(r1)
list(r1)

<filter object at 0x0000011852B41850>

[1, 1, 3, 5, 13, 21]

In [86]:
r2=filter(lambda x:x%3==0,fibnocci)
list(r2)

[0, 3, 21]

# 8. File I/O
 - In this section we learn about input and output.
 - Specially we learn about opening a file, reading a file, updating a file, overwriting a file and closing a file.
 - Files are the locations with specific names on disk to store related data and information.
 - Data in files may be of different types.
 - Files are used to store the data permanently.
 - We need to open file first and then we can read data from it, finally we need to close file at the end.

# Reading input from keyboard
- For reading input from keyboard, raw_input() method is used.
- It reads only one line from standard input and returns it as a string.

### Why we use  File I/O
    we use  File I/O to read and write data from and to file or to take input from the user. 
### When we use  File I/O
    when we want to read some data of write some data in file then we use these funtion.
### Where we use  File I/O
     File I/O can be used where we have to read data from file it is not possible or difficult in some cases to read all data from the user of or code then there is need to read data from file and store it on file for the future use. for all these purposes we use file I/O
# Examples of  File I/O

In [1]:
# reading data from the user
name=input('enter your name')
print(name)

enter your nameAnam Khurshid
Anam Khurshid

In [2]:
fname=input('enter your father name=')
print(fname)

enter your father name=Khurshid Ahmad
Khurshid Ahmad

In [3]:
nationality=input('enter your nationality')
age=input('enter your age')
print('your age is',age)
print(nationality)

enter your nationalityPakistan
enter your age23
your age is 23
Pakistan

# I/O from or to Text File
- In this scenario, we'll read and write to a text file.
    - r opens a file in read only mode.
    - r+ opens a file read and write mode.
    - w opens a file in write mode only.
    - a opens a file in append mode
    - a+ opens a file in append and read mode.

In [22]:
file=open('AnamKhurshid.txt','a+')
file.write('My father name is Khurshid')
file.close()

In [23]:
file=open('AnamKhurshid.txt','r')
f=file.read()
print(f)
file.close()

My father name is Khurshid

# File Position
- tell() method tells the currenct position within the file.
- seek() method changes the current file location.

In [24]:
file=open('AnamKhurshid.txt','r+')
f=file.read()
print('read string is: \n',f)

# To know the position in file 
position=file.tell()
print('postion in file is',position)

read string is:
 My father name is Khurshid
postion in file is 26

In [25]:
# to change the location 
position=file.seek(0,0)# Reposition pointer at the beginning once again
f=file.read(10)
print('string is',f)

string is My father

## Rename a file

In [ ]:
import os
os.rename('AnamKhurshid.txt','Anam_Khurshid.txt')

In [ ]:
# remove a file
os.remove('A.txt')

# 9. Pandas Introduction
 - To analyze data in python there is an open source library available, known as Pandas.
 - It takes data from different sources like CSV files or from SQL database and creates an object with columns and rows.
 - We called this object as a dataframe.
 - People mostly import pandas library in python  with the alias pd.
 - Pandas library built on the top of Numpy pythonic library.
 - It also has built-in visualization features.
 - It calculate statistics and answer questions about the data, like:
     1. What's the average, median, max, or min of each column?
     2. Does column A correlate with column B?
     3. It tells us that how the distribution of data looke like in some column C.

# 10. Series
- A series is very similar to NumPy array.
- Series is 1-D array labeled array capable of holding any type of data.
- The difference between the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a    label, instead of just a number location
- The axis labels are collectively referred to as the index.
- Following function is used to create a series:
 s= pd.Series(data,index = index)
- In above function, data can be many different things:
    - A python dict
    - An ndarray
    - A scalar value (For exmple: 5)
- The passed index is a list of axis labels. So, this seperates into a few cases depending on what data is:


## 10.1 From ndarray
- If data is an ndarray, index must be the same length as data.
- If no index is passed, one will be created having values [0, ..., len(data) - 1].

## Task
 - Write a Program to initialize a numpy array and then convert this array to pandas series with default indexes and also create indexes for data entered by the user.
 
## Code

In [28]:
# importing Pandas & numpy 
import pandas as pd 
import numpy as np 
  
# numpy array 
data = np.array(['A', 'L', 'L', 'A', 'H']) 
  
# creating series 
s = pd.Series(data) 
print(s)

0    A
1    L
2    L
3    A
4    H
dtype: object

# Examples - ndarray

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
"""following a fucntion is called from panas to create a series.
data would be 5 random values and indexes are assigned a-e"""

s=pd.Series(np.random.randn(7),index=['a','b','c','d','e','f','g'])
s

a   -0.728957
b    0.147104
c   -1.242295
d    0.030922
e    0.931681
f   -0.155673
g   -0.124641
dtype: float64

In [32]:
s.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [33]:
#if you dont want to assign indexes just write in simple way 
s3=pd.Series(np.random.randn(5))
s3

0   -0.120194
1   -0.938180
2    0.056691
3   -0.714982
4   -0.202892
dtype: float64

# 10.2 From Dictionary
 - We can also convert python dictionary to pandas series data type.
 - The Series() method of pandas series used with/without index parameter for conversion.
 - In this conversion dictionary keys are used as indexes in pandas series.
 - Following examples will demonstrate the concept more practically.

In [34]:
d={'A':1,'B':2,'C':3}
pd.Series(d)

A    1
B    2
C    3
dtype: int64

In [35]:
d3={'name':'Anam','fname':'Khurshid','age':23,'uni':'Comsats Lhr'}
pd.Series(d3)

name            Anam
fname       Khurshid
age               23
uni      Comsats Lhr
dtype: object

In [37]:
# if we want to change the index by own will then we can do the following 
pd.Series(d,index=['C','N','A','T'])

C    3.0
N    NaN
A    1.0
T    NaN
dtype: float64

# 10.3 From a Scalar Value
 - We can also convert a scalar value into pandas series.
 - We need to assign indexes to all values exists inthe scalar which need to be converted.
 - Following examples will explore more practically.

## Task
 - Write a Program to initialize a variable with scalar value and convert it in pandas series data type.
## Code

In [38]:
'''
following code demonstrate, hot to convert scalar value to pandas series.
In this example scalar type value is given as data, it will be repeated
to the length of indexes.
'''
import pandas as pd
scalar_var = 27.0
series = pd.Series(scalar_var, index=[0, 1, 2, 3, 4, 5, 6, 7])
print("Generated series: ",series)

Generated series:  0    27.0
1    27.0
2    27.0
3    27.0
4    27.0
5    27.0
6    27.0
7    27.0
dtype: float64

# Examples - Scalar Value

In [39]:
pd.Series(3.,index=['a','b','c'])

a    3.0
b    3.0
c    3.0
dtype: float64

In [40]:
pd.Series([10,17,22,27,30],index=['a','b','c','d','e'])

a    10
b    17
c    22
d    27
e    30
dtype: int64

In [41]:
pd.Series([24,27,7,42,721])

0     24
1     27
2      7
3     42
4    721
dtype: int64

# 10.4 Series is ndarray-like
 - Pandas Series is very similar to numpy ndarray.
 - We can also pass series in mostly fuctions as parameters where we pass ndarray.
 - However, in some conditions, some minor differences occured.
 - Following examples explore the things more clearly.

## Task
 - Write a Program to show similarity between pandas series and numpy array.
## Code

In [42]:
import pandas as pd
series = pd.Series([7, 24, 27, 68])
print("Initialized Series: \n",series)

# access values just like ndarray
print("Access single item:\n",series[1])

# access values in ragne just like ndarray
print("Access items in range:\n",series[1:5])

# show only values of series which are greater than the median of series.
print("Access only items greater than series median:\n",series[series > series.median()])

# returning the values in series with indexes.
print("Series values with index:\n",series[[3, 2, 1]])

# return value of stored at given index
indx = 3
print("Value at given index:\n",series[3])

# return value of stored at given index
print("Access value using get() method:\n",series.get(3))

# return None if no index found
print("Return None using get() method, index not found:\n",series.get('3'))

Initialized Series:
 0     7
1    24
2    27
3    68
dtype: int64
Access single item:
 24
Access items in range:
 1    24
2    27
3    68
dtype: int64
Access only items greater than series median:
 2    27
3    68
dtype: int64
Series values with index:
 3    68
2    27
1    24
dtype: int64
Value at given index:
 68
Access value using get() method:
 68
Return None using get() method, index not found:
 None

## 10.6 Vectorized operations and label alignment with Series
 - In data analysis process with ndarray, it is not necessary looping throug only with value by value
 - As we already discussed, Series is very similar to the ndarray.
 - In some functions which expects an ndaaray, we can also pass Series.

## Task
 - Write a Program to explore working with Pandas Series.
## Code

In [44]:
import pandas as pd
series = pd.Series([34, 564, 245, 715, 43, 664])
print("Initialized Series:\n",series)

Initialized Series:
 0     34
1    564
2    245
3    715
4     43
5    664
dtype: int64

In [48]:
# sum up values of a series.
print("Adding values of series with their corresponding values:\n",series+series)

Adding values of series with their corresponding values:
 0      68
1    1128
2     490
3    1430
4      86
5    1328
dtype: int64

In [47]:
# multiply sereis values by some constant
print("Multiply series values by some constant:\n",series*2)

Multiply series values by some constant:
 0      68
1    1128
2     490
3    1430
4      86
5    1328
dtype: int64

# 11. Data Frames
## Definition
 - Data frame in python is a two dimensional data structure.
 - Data is stored in tabular format in data frames.
 - Some important features of data frames are.
     1. Columns can be of different types in data frame.
     2. Data frame size is mutable
     3. We can perform arithmetic operations on rows and columns.
     4. We can label axes (columns and rows)
 - Data frame Constructor and required parameters.
 - Constructor ----> pandas.DataFrame(data, index, columns, dtype, copy)
     1. Data: In data parameter we can pass various forms like ndarray, series, map, lists, dict, constants and also other DataFrame.
     2. Index: It's optional, by default np.arange(n).
     3. Columns: It's also optional, used for columns labels, be default is np.arange(n)
     4. dtype: Data type for each and every column.
     5. copy: Used to copy data, by default it's False.
 - A pandas DataFrame can be created from lists, dictionaries, series, numpy ndarrays or even from another DataFrame.
 - Potentially heterogeneous tabular data.
 - Following examples will give you the basic idea of creating and using Data Frames in python.
 ## Applications
There are many applications we are using in our daily life which are using DataFrames data structure. Following are some common applications.
 - DataFrames are used for storing data from relational databases.
 - Big Data
 - Natural Language Processing
 - Recommendations System
 - Stock Prediction
 - Analytics
 - Neuroscience
 - Useful records visualization.
 ## Suitable to use
 - Where we need extremely streamlined forms of data
 - When we need to done a job in a short period of time.
 - Suitable to use where we have large amount of data.
 - Provide data flexibility and customization.
 - Pure pythonic library.

## Task
 - Write a Program to simply create an Empty DataFrame and display it on output screen.
 
## Code

In [49]:
#import the pandas library and aliasing as pd
import pandas as pd
df = pd.DataFrame()
print("Empty Data Frame: ",df)

Empty Data Frame:  Empty DataFrame
Columns: []
Index: []

# Examples - Data Frames

In [51]:
import pandas as pd

list1 = [['Anam',23],['Bisma',15],['Kinza',33]]
print("Initialized list: ",list1)
df = pd.DataFrame(list1,columns=['Name','Age'])
print("DataFrame from given list:\n",df)

Initialized list:  [['Anam', 23], ['Bisma', 15], ['Kinza', 33]]
DataFrame from given list:
     Name  Age
0   Anam   23
1  Bisma   15
2  Kinza   33

In [53]:
import pandas as pd

list1 = [['Amina',20],['Nabila',44],['Maryam',28], ['Samina', 15], ['Zainab', 23]]
print("Initialized list: ",list1)
df = pd.DataFrame(list1,columns=['Name','Age'])
print("Average age of all students: ",df['Age'].mean())

Initialized list:  [['Amina', 20], ['Nabila', 44], ['Maryam', 28], ['Samina', 15], ['Zainab', 23]]
Average age of all students:  26.0

# 11.1 From Dict of Series of Dicts
 - We can automatically generate panda Dataframe from dictionaries or dictionary o Series.
 - If we don't provide any columns, columns will be the sorted list of dict keys.
 - Nested dictionaries firstly convert into Series.
 - The resultant indexes are the union indexes of Various Series

## Task
 - Write a Program to create a DataFrame from Dictionaries or dictionary of Series.
                                             
## Code

In [55]:
import pandas as pd

# initializing dictionary
dict = {'lst1': pd.Series([30, 45, 23, 67],
        index = [1, 2, 3, 4]), 'lst2': pd.Series(['Anam', 'Maryam', 'Naila', 'Zainab'], index = [1, 2, 3, 35])}

# converting dictionary to dataframe without giving columns, it will show 'NaN' value at index with no values
df = pd.DataFrame(dict)
print("DataFrame of Dictionary:\n",df)

# converting dictionary to dataframe with giving columns
df1 = pd.DataFrame(dict, index = [35, 4, 3, 2, 1], columns = ['lst1', 'lst2'])
print("DataFrame of Dictionary when giving columns:\n",df1)

DataFrame of Dictionary:
     lst1    lst2
1   30.0    Anam
2   45.0  Maryam
3   23.0   Naila
4   67.0     NaN
35   NaN  Zainab
DataFrame of Dictionary when giving columns:
     lst1    lst2
35   NaN  Zainab
4   67.0     NaN
3   23.0   Naila
2   45.0  Maryam
1   30.0    Anam

# 11.2 From Dictionary of ndarrays / lists
 - The ndarrays use to create DataFrame must all be the same length.
 - If we pass index, then it must also be the same length as the arrays.
 - By default range(n), if no index will be passed.

## Task
 - Write a # Python code demonstrate creating DataFrame from dict narray / lists By default addresses.
                                             
## Code

In [57]:
import pandas as pd  
  
# intialise data of lists.  
data = {'Category':['Array', 'Stack', 'Queue'], 
        'Marks':[27, 11, 19]}  
  
# Create DataFrame not providing any index
df = pd.DataFrame(data)  
  
# Print the output.  
print("No index provided:\n",df)

# Create DataFrame providing index
df = pd.DataFrame(data, index=['cat01', 'cat02', 'cat03'])  
  
# Print the output.  
print("Index provided:\n",df)

No index provided:
   Category  Marks
0    Array     27
1    Stack     11
2    Queue     19
Index provided:
       Category  Marks
cat01    Array     27
cat02    Stack     11
cat03    Queue     19

# 11.3 From a list of Dictionaries
 - We can also create DataFrame from list of dictionaries.
 - Following examples will explore the concept more practically.

## Task
 - Write a # Python code demonstrate creating DataFrame from dict narray / lists By default addresses.
                                             
## Code

In [60]:
import pandas as pd  
  
# intialise data of lists.  
data = {'Category':['Books', 'Registers', 'Pens'], 
        'Marks':[38, 91, 10]}  
  
# Create DataFrame not providing any index
df = pd.DataFrame(data)  
  
# Print the output.  
print("No index provided:\n",df)

# Create DataFrame providing index
df = pd.DataFrame(data, index=['cat01', 'cat02', 'cat03'])  
  
# Print the output.  
print("Index provided:\n",df)

No index provided:
     Category  Marks
0      Books     38
1  Registers     91
2       Pens     10
Index provided:
         Category  Marks
cat01      Books     38
cat02  Registers     91
cat03       Pens     10

# 11.4 From a Dictionary of Tuples
 - WE can create multi-indexed DataFrame by giving Tuples of Dictionaries.
 - Following examples will explore the things more.

## Task
 - Write a # Python code to create a multi-indexed Dataframe from Tuples of Dictionaries.
 
## Code

In [61]:
import pandas as pd  
  
# intialise data of lists.  
data = {('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2},
 ('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4},
 ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6},
 ('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8},
 ('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}}
  
# print("Created DataFrame:\n",pd.DataFrame(data))
pd.DataFrame(data)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

# 11.5 Alternate Constructors

## DataFrame.from_dict
 - Construct DataFrame from dict oc array-like or dicts.
 - Using this constructore we can construct a DataFrame object from dictionary by columns or by indexes.

## Task
 - Write a Python programe to create DataFrame from dictionaries using built-in 'DataFrame.from_dict' constructor.
 
## Code

In [63]:
import pandas as pd  
  
data = {'col_1': [33, 12, 11, 0], 'col_2': ['a', 'b', 'c', 'd']}

pd.DataFrame.from_dict(data)

   col_1 col_2
0     33     a
1     12     b
2     11     c
3      0     d

## DataFrame.from_records
 - Using this constructor we create DataFrame from structured ndarrays, sequence of tuples or dicts or even from DataFrame.
 - Following examples will show, how to use it.

## Task
 - Write a Python programe to create DataFrame structured ndarray.
 
## Code

In [64]:
import pandas as pd
import numpy as np
  
data = np.array([(3, 'A'), (2, 'B'), (1, 'C'), (0, 'D')],
                dtype=[('col_1', 'i4'), ('col_2', 'U1')])

pd.DataFrame.from_records(data)

   col_1 col_2
0      3     A
1      2     B
2      1     C
3      0     D

# 11.6 Column selection, addition, deletion
 - We can also select, add or delete columns from DataFrames.
 - These operations works in the similar way as the analogous dict operations.

## Task
 - Write a Python programe to select, add or delete specific columns from a DataFrame.
 
## Code

In [66]:
import pandas as pd

# intialise data of lists.  
data = {'Category':['Clocks', 'Tables', 'Chairs'], 
        'Marks':[50, 21, 29]} 

pd.DataFrame(data)

  Category  Marks
0   Clocks     50
1   Tables     21
2   Chairs     29

In [67]:
df = pd.DataFrame(data)
# Display 'Category' column from DataFrame
df['Category']

0    Clocks
1    Tables
2    Chairs
Name: Category, dtype: object

In [68]:
# Delete a column
del df['Category']
df

   Marks
0     50
1     21
2     29

In [72]:
# Add a column
df['Category'] = ['Books','Tables','Chairs']
df

   Marks Category
0     50    Books
1     21   Tables
2     29   Chairs

# 11.7 Indexing / Selection
 - For example, in row selection, we want to return the columns and values.
 - In case of Series, column names will be shown as indexes for resultant results.

## Task
 - Write a Python programe to return rows from a DataFrame.
 
## Code

In [74]:
import pandas as pd

# intialise data of lists.  
data = {'Category':['Chocolates', 'Chips', 'Sweets'], 
        'Marks':[20, 21, 19]} 

df = pd.DataFrame(data)
df.loc[2] # it will return all value from row # 3

Category    Sweets
Marks           19
Name: 2, dtype: object

## 11.8 Data alignment and arithmetic
 - It's very interesting to apply different arithmetic operations on DataFrames.
 - Data Alignment between DataFrame objects automatically align both rows and columns.
 - Resultant of alignment will have the union of the columns and rows.

## Task
 - Write a Python programe to create two DataFrames by randomly generated numbers and add these two DataFrames, display result on screen.
 
## Code

In [76]:
import pandas as pd
import numpy as np

# intialise data of lists.  
data_f1 = pd.DataFrame(np.random.randn(5, 5), columns=['A', 'B', 'C', 'D', 'E'])
data_f1

          A         B         C         D         E
0 -0.715654  0.256744 -0.584380  0.333574 -0.674512
1  0.126395 -0.620466 -0.994384  0.609134  0.097773
2 -0.321572  1.621622 -0.293688 -1.028676 -0.070496
3 -0.054245  0.342577  0.386005  1.581163 -0.111829
4  1.204681  0.295660 -1.514101 -1.746360 -0.495803

In [79]:
data_f2 = pd.DataFrame(np.random.randn(5, 4), columns=['A', 'B', 'C','D'])
data_f2

          A         B         C         D
0 -0.869825 -0.458776  0.783396 -0.826832
1 -2.386195 -0.080072 -1.019212 -0.161146
2 -0.936479 -0.161092 -0.597866  0.406597
3 -0.744810 -0.108353 -0.539393  0.663299
4 -0.209473 -0.751390 -1.465845 -1.895032

In [80]:
data_frames_add = data_f1 + data_f2
data_frames_add

          A         B         C         D   E
0 -1.585479 -0.202031  0.199015 -0.493258 NaN
1 -2.259800 -0.700538 -2.013595  0.447988 NaN
2 -1.258051  1.460529 -0.891554 -0.622079 NaN
3 -0.799055  0.234224 -0.153388  2.244462 NaN
4  0.995208 -0.455730 -2.979945 -3.641392 NaN

In [81]:
data_frames_sub = data_f1 - data_f2
data_frames_sub

          A         B         C         D   E
0  0.154171  0.715520 -1.367776  1.160407 NaN
1  2.512589 -0.540394  0.024828  0.770280 NaN
2  0.614907  1.782714  0.304178 -1.435273 NaN
3  0.690565  0.450930  0.925398  0.917865 NaN
4  1.414154  1.047050 -0.048256  0.148672 NaN

In [82]:
data_frames_mul = data_f1 * data_f2
data_frames_mul

          A         B         C         D   E
0  0.622494 -0.117788 -0.457801 -0.275810 NaN
1 -0.301602  0.049682  1.013487 -0.098160 NaN
2  0.301145 -0.261231  0.175586 -0.418256 NaN
3  0.040403 -0.037119 -0.208209  1.048784 NaN
4 -0.252348 -0.222156  2.219437  3.309407 NaN

In [83]:
data_frames_div = data_f1 / data_f2
data_frames_div

          A          B         C         D   E
0  0.822756  -0.559629 -0.745958 -0.403436 NaN
1 -0.052969   7.748836  0.975640 -3.780010 NaN
2  0.343384 -10.066409  0.491227 -2.529965 NaN
3  0.072831  -3.161669 -0.715628  2.383788 NaN
4 -5.751005  -0.393484  1.032920  0.921547 NaN